body {
    background-image: url("coaches_bg.jpg");
    background-size: auto;
}


.bg-dark-light {
    background-color: rgb(55, 55, 75);
}

.workout-box {
    height: 20em;
    margin: auto;
    float: left;
    grid-area: 1 / 2 / 2 / 3;
    word-wrap: break-word;
    break-after: always;
}

.workout-track {
    height: auto;
    border-radius: 20px;
    background-color: rgb(55, 55, 75);

}

.recent-workout {
    height: auto;
    border-radius: 20px;
    background-color: rgb(55, 55, 75);
}

.quote-box {

    padding-left: 1em;
    border-left: 0.2em solid #6294ff;
    border-right: 0.2em solid #6294ff;
    float: right;
}

.box {
    position: relative;
}

.box .Calendar {
    position: absolute;
    right: 0;
}