body {
    background-image: url("images/coaches_bg.jpg");
    background-size: auto;
}


.bg-dark-light {
    background-color: rgb(55, 55, 75);
}

.signup-track {
    padding-left: 60em;
    border-radius: 20px;
    width: 300px;

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;


}

.workout-box {
    height: 20em;
    margin: auto;
    float: left;
    grid-area: 1 / 2 / 2 / 3;
    word-wrap: break-word;
    break-after: always;
}

.workout-track {
    height: auto;
    border-radius: 20px;
    background-color: rgb(55, 55, 75);

}

.previous-workout {
    height: auto;
    border-radius: 20px;
    background-color: rgb(211, 211, 228);
    margin-left: auto;
    margin-right: auto;
}

.edit-workout {
    height: auto;
    border-radius: 25px;
    background-color: rgb(211, 211, 228);
}

.recent-workout {
    height: auto;
    border-radius: 20px;
    background-color: rgb(55, 55, 75);
}

.quote-box {

    padding-left: 1em;
    border-left: 0.2em solid #6294ff;
    border-right: 0.2em solid #6294ff;
    float: right;
}

.box {
    position: relative;
}

.box .Calendar {
    position: absolute;
    right: 0;

}