<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/theme.css">
    <title>Focus Fitness</title>
</head>


<body>
    <div class="section shadow bg-dark-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark-light">
                <div class="container-fluid">
                    <a class="navbar-brand fs-2 font-weight-bold" href="#">Focus Fitness</a>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/history">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/workouts">Workout</a>
                            </li>

                            <li class="nav-item">
                                <form method="POST" action="/logoff">


                                    <input type="submit" value="Log Out!" a
                                        class="nav-link btn btn-outline-danger text-danger"></a>
                                </form>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>

        </div>

    </div>
    <div class="col-lg-6">
        <div class="workout-box p-3 ">
            <div class="previous-workout p-4 my-3">
                <div class="d-flex flex-column justify-content-center shadow-lg">
                    <h1>Previous Workouts</h1>
                    <table>
                        <tr>
                            <th>Date &nbsp; </th>
                            <th>Duration(minutes) &nbsp;</th>
                            <th>Weight (kilos) &nbsp; </th>
                            <th>Exercise Type &nbsp;</th>
                            <th>Calories burned (kcal) &nbsp;</th>
                            <th>&nbsp; &nbsp;Modify &nbsp;</th>
                            <th>Delete &nbsp;</th>
                        </tr>
                        {% for i in range(num_workouts) %}
                        <tr>
                            <td>{{prev_workouts[i].timestamp.strftime("%B %d, %Y")}}</td>
                            <td>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;{{prev_workouts[i].duration}}</td>
                            <td>{{prev_workouts[i].weight}}</td>
                            <td>{{prev_workouts[i].exercise_type}}</td>
                            <td>&nbsp; &nbsp; &nbsp; {{prev_workouts[i].calories_burned}}</td>
                            <td><a href="{{url_for('modify', workout_id=prev_workouts[i].id)}}"
                                    class="btn btn-primary Calendar w-auto m-3">Edit &nbsp;</a></td>
                            <td><a href="{{url_for('delete', workout_id=prev_workouts[i].id)}}"
                                    class="btn btn-danger">Delete</a> &nbsp;</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>