<!DOCTYPE html>
<!--
Reference Links: 
    https://www.geeksforgeeks.org/python-using-for-loop-in-flask/ 
    https://stackoverflow.com/questions/5214893/right-align-an-image-using-css-html
    https://www.w3schools.com
-->
<!---->
<html lang="en">

<head>
    <title>Movie home</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>

<body>
    <header>
        <h1>Focus Fitness</h1>
    </header>
    <div class="container">
        <div class="parent">
            <div class="info">
                <p>Quote: {{quote}}</p>
                <button id="submit" onClick="window.location.reload();">Need more motivation?</button>
            </div>
        </div>
    </div>

    <br><br>

</body>

</html>