<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/gym.png">


    <!-- calendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var temp = event.title;
            console.log(temp);
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 500,
                events: [
                    {% for row in events %}{ id: '{{row.id}}', title: '{{row.exercise_type}}', allDay: true, start: '{{row.timestamp}}', end: '{{row.timestamp}}', url: '/history' }, {% endfor %}  
                ]

            });
        calendar.render();
            
        });
    </script>
    <!-- -->
    <link rel="stylesheet" href="/static/theme.css">
    <title>Focus Fitness</title>
</head>

<body>
    <div class="section shadow bg-dark-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark-light">
                <div class="container-fluid">
                    <a class="navbar-brand fs-2 font-weight-bold" href="#">Focus Fitness</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/history">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/getinput">Workouts</a>
                            </li>
                            <li class="nav-item">
                                <form method="POST" action="/logoff">
                                    <input type="submit" value="Log Out!" a
                                        class="nav-link btn btn-outline-danger text-danger"></input>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="section">

        <div style="margin-left: auto;margin-right: auto;text-align:center; margin-bottom: 20px;">

            <a class="navbar-brand fs-2 font-weight-bold" href="/index"> Welcome {{currentuser}} </a>
            <br>
        </div>
        <div class="container" style="height: 700px;">
            <div class="workout-track mw-100" style="height: 600px;">
                <div class="row ">
                    <div class=" col-lg p-5">    
                        <h3 class="text-center my-2 text-white">Workouts</h3>
                        <h5 class="text-center my-2 text-white">What exercises would you like to track?</h5>
                        <div class="d-flex justify-content-center">
                            <form action="/calculate" method="POST">
                                
                                <h5 class="text-white d-flex justify-content-center">Input exercises </h5>
                                <div class="dropdown d-flex justify-content-center" style="width:362.65px; border-radius: 5px;">
                                    <select id="exercise_type" name="exercise_type" style="width:362.65px;height: 48px; border-radius: 5px; padding-left: 14px;">
                                        <option value="Running">Running</option>
                                        <option value="Swimming">Swimming</option>
                                        <option value="Crossfit">Crossfit</option>
                                        <option value="Rowing">Rowing</option>
                                        <option value="Mountain Biking">Mountain Biking</option>
                                        <option value="Rock Climbing">Rock Climbing</option>
                                        <option value="Gymnastics">Gymnastics</option>
                                        <option value="Rugby">Rugby</option>
                                        <option value="Football">Football</option>
                                        <option value="Soccer">Soccer</option>
                                        <option value="Water Polo">Water Polo</option>
                                        <option value="Wrestling">Wrestling</option>
                                        <option value="Martial arts">Martial arts</option>
                                        <option value="Calisthenics">Calisthenics</option>
                                        <option value="Beach Volleyball">Beach Volleyball</option>
                                        <option value="Cycling">Cycling</option>
                                        <option value="Lacrosse">Lacrosse</option>
                                        <option value="Skateboarding">Skateboarding</option>
                                        <option value="Ultimate Frisbee">Ultimate Frisbee</option>
                                        <option value="Weightlifting">Weightlifting</option>
                                        <option value="Jogging">Jogging</option>
                                        <option value="Jump Rope">Jump Rope</option>
                                        <option value="Baseball">Baseball</option>
                                        <option value="Yoga">Yoga</option>
                                        <option value="Dancing">Dancing</option>
                                        <option value="Walking">Walking</option>
                                        <option value="Stretching">Stretching</option>
                                        <option value="Mobility Training">Mobility Training</option>
                                    </select>
                                </div>
                                <input type="date" class="form-control form-control-lg my-3 " name="date"
                                    placeholder="Date" required  /> 

                                <input type="number" step="1" pattern="\d*"
                                    class="form-control form-control-lg my-3 px-4" name="duration"
                                    placeholder="Time in minutes" required min="1" max="9999" />
                                        
                                <input type="number" step="1" pattern="\d*" class="form-control form-control-lg my-3 px-4"
                                    name="weight" placeholder="Your weight in Kilos" required min="1"
                                    max="9999" />
                                
                                
                                <div class="row justify-content-center">
                                    <input type="submit" class="btn btn-lg btn-warning shadow-lg w-50 b-5"
                                        value="Save" id="submit">
                                </div>
                                <div>
                                    <br>
                                    {% if request.endpoint == 'calculate' %}
                                    <h3 class="text-center my-2 text-white">{{display_calories_burned}}</h3>
                                    {% endif %}
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg p-5 " style=" background-color: aliceblue; border-radius: 30px; height: 600px; ">
                        <div id="calendar" style="  "></div>
                    </div>
                    
                </div>
            </div>
        </div>
        


    </div>
    <div class="d-flex justify-content-center ">
        
            <div class="quote-box px-4 w-50 text-wrap">
                <h4 class="fw-bold text-primary ">Quote: {{quote}}</h4>
                <button id="submit" input type="submit" class="btn btn-warning shadow-lg px-4 w-auto"
                    onClick="window.location.reload();">Need more motivation?</button>
                </br>
            </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>