<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/calculate" method="POST">
        <label for="exercise_type">Input exercise:</label>
        <select id="exercise_type" name="exercise_type">
            <option value="cardio">Cardio</option>
            <option value="weightlifting">Lifting weights</option>
        </select>
        <input type="text" name="duration" placeholder="time in minutes"/>
        <input type="text" name="weight" placeholder="weight in kilos"/>
        <input type="submit" value="Save">
    </form>
    <h2>Calories burned: {{calories_burned}} kcal</h2>
</body>

</html>