<!DOCTYPE html>
<!--
Reference Links: 
  
-->
<!---->
<html lang="en">

<head>
    <title>Movie Discovery</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>

<body>

    <div class="center" style="padding: 450px 0;">
        <div class="auth">

            <h1>Log In</h1>

            <form method="POST" action="/handle_form">
                <input type="text" name="username" placeholder="Username" maxlength="49" required />
                <br>
                <input type="password" id="pass" placeholder="Password" name="password" minlength="8" maxlength="20"
                    required>
                <br>
                <input id="submit" type="submit" value="Log In" />
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <strong>{{message}}</strong>
            {% endfor %}
            <br>
            {% endif %}
            {% endwith %}

            <a href="{{ url_for('signup') }}">[Sign Up]</a>
        </div>

    </div>
</body>

</html>