<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Workout</title>
</head>

<body>
    <form action="{{ url_for('edit')}}" method="POST">
        <table>
            <th colspan="2">Update Workout Details</th>
            <input type="hidden" name="id" value={{workout.id}}>
            <tr>
                <th>
                    Date:
                </th>
                <td>
                    {{workout.timestamp.strftime("%B %d, %Y")}}
                </td>
            </tr>
            <tr>
                <th>
                    Duration:
                </th>
                <td>
                    <input type="number" step="1" pattern="\d*" name="duration" placeholder="Enter updated duration in minutes"
                        value={{workout.duration}}>
                </td>
            </tr>
            <tr>
                <th>
                    Weight:
                </th>
                <td>
                    <input type="number" step="1" pattern="\d*"  name="weight" placeholder="Enter updated weight in kilos"
                        value={{workout.weight}}>
                </td>
            </tr>
            <tr>
                <th>
                    Exercise type:
                </th>
                <td>
                    {{workout.exercise_type}}
                </td>
            </tr>
            <input type="hidden" name="exercise_type" value="{{workout.exercise_type}}" />
            <tr>
                <th>Calories burned:</th>
                <td>{{workout.calories_burned}}</td>
            </tr>
            <tr>
                <th span="2"><input type="submit" value="Submit" /></th>
            </tr>

        </table>
    </form>

</body>

</html>