<!DOCTYPE html>
<!--
Reference Links: 
    https://www.geeksforgeeks.org/python-using-for-loop-in-flask/ 
    https://stackoverflow.com/questions/5214893/right-align-an-image-using-css-html
    https://www.w3schools.com
-->
<!---->
<html lang="en">

<head>
    <title>Movie Discovery</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>

<body>

    <div class="center" style="padding: 450px 0;">
        <div class="auth">
            <br>
            <h1>Sign Up</h1>

            <form method="POST" action="/signup">
                <input type="text" name="username" placeholder="Username" maxlength="49" required />
                <br>
                <input type="password" id="pass" name="password" placeholder="Password" minlength="8" maxlength="20"
                    required>
                <br>
                <input id="submit" type="submit" value="Sign Up" />
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <strong>{{message}}</strong>
            {% endfor %}
            <br>
            {% endif %}
            {% endwith %}

            <a href="{{ url_for('index') }}">[Log In]</a>
        </div>

    </div>
</body>

</html>