<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/theme.css">

    <link rel="icon" type="image/x-icon" href="/static/images/gym.png">
    <title>Workouts</title>
    <style>
        h1 {
            text-align: center;
        }

        div {
            text-align: center;
            font-family: Helvetica;
        }

        p {
            font-family: Helvetica;
        }

        img {
            border-radius: 10%;
        }
    </style>

</head>


<body>
    <div class="section shadow bg-dark-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark-light">
                <div class="container-fluid">
                    <a class="navbar-brand fs-2 font-weight-bold" href="#">Focus Fitness</a>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="/history">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/getinput">Workouts</a>
                            </li>

                            <li class="nav-item">
                                <form method="POST" action="/logoff">


                                    <input type="submit" value="Log Out!" a
                                        class="nav-link btn btn-outline-danger text-danger"></a>
                                </form>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>

        </div>
    </div>
    <h1 class="head" text-align:center>Youtube Workouts Page</h1>
    <div>
        <label>Choose a workout:</label>
        <form method="POST" action="/vworkouts">
            <select name="selection">
                <option name="0" {% if selection=="Benchpress" %} selected {% endif %}>Benchpress</option>
                <option name="1" {% if selection=="Squats" %} selected {% endif %}>Squats</option>
                <option name="2" {% if selection=="Lunges" %} selected {% endif %}>Lunges</option>
                <option name="3" {% if selection=="Deadlifts" %} selected {% endif %}>Deadlifts</option>
                <option name="4" {% if selection=="Shoulder Press" %} selected {% endif %}>Shoulder Press</option>
                <option name="5" {% if selection=="Bicep Curls" %} selected {% endif %}>Bicep Curls</option>
                <option name="6" {% if selection=="Burpees" %} selected {% endif %}>Burpees</option>
                <option name="7" {% if selection=="Pull Ups" %} selected {% endif %}>Pull Ups</option>
                <option name="8" {% if selection=="Lat Pulldowns" %} selected {% endif %}>Lat Pulldowns</option>
                <option name="9" {% if selection=="Push Ups" %} selected {% endif %}>Push Ups</option>
                <option name="10" {% if selection=="Hip Thrusts" %} selected {% endif %}>Hip Thrusts</option>
                <option name="11" {% if selection=="10 Minute Abs Workout" %} selected {% endif %}>10 Minute Abs Workout
                </option>
                <option name="12" {% if selection=="Dumbbell Shrugs" %} selected {% endif %}>Dumbbell Shrugs</option>
                <option name="13" {% if selection=="Tricep Extensions" %} selected {% endif %}>Tricep Extensions
                </option>
                <option name="14" {% if selection=="Tricep Kickback" %} selected {% endif %}>Tricep Kickback
                </option>

            </select>
            <button type="submit" id="submit">Go!</button>
        </form>
        <br>
    </div>
    <div><iframe width="560" height="315" src={{video}} title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>
    <div>
        <p>How to do {{workoutType}}</p>
    </div>
    <div>
        <h1>This excercise is good for working out:</h1>
        {%for i in range(0, len)%}
        <br>

        <li>{{Areas[i]}}</li>
        {%endfor%}
        <br>
    </div>
    <div>
        <img src={{image}} width="500" height="auto">
    </div>
    <br></br>

</body>

</html>