<html lang="en">

<head>
    <title>Movie home</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>

<body>
    <header>
        <h1>Focus Fitness</h1>
    </header>
    <div class="tabs">
        <input type="radio" class="tabs__radio" name="tabs" id="tab1" checked>
        <label for="tab1" class="tabs__label">
            home
        </label>
        <div class="tabs__content">
            <a href="home.html"></a>
        </div>
        <div class="tabs">
            <input type="radio" class="tabs__radio" name="tabs" id="tab2" checked>
            <label for="tab1" class="tabs__label">
                workouts
            </label>
            <div class="tabs__content">
                <a href="workouts.html"></a>
            </div>

        </div>
        <div class="container">
            <div class="parent">
                <div class="info">
                    <p>Potee: {{quote}}</p>
                    <button id="submit" onClick="window.location.reload();">Need more motivation?</button>
                </div>
            </div>
        </div>

        <br><br>

</body>

</html>